<body>
    <nav>
        <div class="logo">
            <img src="../../assets/images/logo.jpg" width="60px" height="60px">
            <a href="" class="header_logo">F<span style="color: #f79f08;">oo</span>diE</a>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <!-- <i class="fas fa-bars"></i> -->
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-three-dots-vertical header_toggle fas fa-bars" id="toggle-menu" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </i>

        </label>
        <ul>
            <li><a class="active" routerLink="/landing">Home</a></li>
            <li><a routerLink="/signup">SignUp</a></li>
            <li><a routerLink="/login">SignIn</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="container">
            <div class="heading">SIGN IN</div>
            <form [formGroup]="userForm" (ngSubmit)="loginCheck()">
                <div class="card-details">
                    <div class="card-box">
                        <span class="details">Email ID</span>
                        <input type="email" placeholder="Enter emailId" formControlName="emailId">
                        <small *ngIf="userForm.get('emailId')?.touched && userForm.get('emailId')?.invalid"
                         style="color:red;font-size: large;">Please enter Valid Email id</small>
                    </div>
                    <div class="card-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Enter your password" formControlName="password">
                        <small *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid"
                         style="color:red;font-size: large;">Please Enter Password</small>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="SignIn">
                </div>
            </form>
        </div>
    </div>

</body>