<body>
    <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
<lord-icon class="truck"
    src="https://cdn.lordicon.com/fevpdbjk.json"
    trigger="loop"
    delay="1000"
    style="width:250px;height:250px">
</lord-icon>
    </div>
    <br>
    <br>
      <h1>Success</h1> 
      <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      <br>
      <button type="button" class="btn btn-success" routerLink="/user">HOME</button>
    </div>
  </body>