<body>
    <nav>
        <div class="logo">
            <img src="../../assets/images/logo.jpg" width="60px" height="60px">
            <a href="" class="header_logo">F<span style="color: #f79f08;">oo</span>diE <sub><span style="color:#f79f08;font-size:10px">admin</span></sub></a>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <!-- <i class="fas fa-bars"></i> -->
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-three-dots-vertical header_toggle fas fa-bars" id="toggle-menu" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </i>

        </label>
        <ul>
            <li><a class="active" routerLink="/admin">Home</a></li>
            <li><a routerLink="/login">LogOut</a></li>
        </ul>
    </nav>
<div class="body">
    <div class="container">
        <div class="displayImg" style="display: inline-block;">
            <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/gqqykmqo.json"
                    trigger="hover"
                    colors="outline:#000000,primary:#e88c30,secondary:#ad6836,tertiary:#545454,quaternary:#f3c3ba"
                    style="width:400px;height:400px">
                </lord-icon>
                <h1 class="display-5" style="color: black;">Welcome back, Admin</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1 class="ep">CUISINE</h1>
                    </div>
                    <form>
                        <form [formGroup]="cuisineForm">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label ep">CuisineId</label>
                                <input type="text" formControlName="cuisineId" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label ep">CuisineName</label>
                                <input type="text" formControlName="cuisineName" class="form-control"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label ep">CuisineDescription</label>
                                <input type="text" formControlName="cuisineDescription" class="form-control"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label ep">Price</label>
                                <input type="text" formControlName="price" class="form-control"
                                    id="exampleInputPassword1">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label ep">Quanity</label>
                                <input type="text" formControlName="qty" class="form-control"
                                    id="exampleInputPassword1">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label ep">Upload Image</label>
                                <input type="file" class="form-control" accept="image/*" (change)="onFileSelect($event)"
                                    style="height: 100%" id="exampleInputPassword1" />
                            </div>
    
                            <div class="mb-3">
                                <img [src]="userFile1.url ?? '/assets/images/restaurant.jpg'"  width="100px" height="100px" />
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="addCuisine(cuisineForm)">Add Cuisine</button>

                            <button class="btn btn-success" style="margin-left:3vh ;"  routerLink="/admin">
                                Go Back
                            </button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>