<body>
    <nav>
        <div class="logo">
            <img src="../../assets/images/logo.jpg" width="60px" height="60px">
            <a href="" class="header_logo">F<span style="color:#f79f08;">oo</span>diE</a>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-three-dots-vertical header_toggle fas fa-bars" id="toggle-menu" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </i>

        </label>
        <ul>
            <li><a class="active" routerLink="/user">Home</a></li>
            <li><a routerLink="/login">LogOut</a></li>
        </ul>
    </nav>

    <div class="content" style="min-height: 100vh;">
        <div class="anchor">
            <a routerLink="/address" class="btn">ADD ANOTHER ADDRESS<span></span></a>
        </div>
        <div class="card" *ngFor="let s of items">
            <div class="info">
                <div id="name" class="name" style="font-size: 30px;">HOUSE NO : {{s.houseNo}}</div>
                <div class="prof" style="font-size: 25px; margin-top: -60px; color: blue;">STREET : {{s.street}}</div>
                <div class="prof" style="margin-top: -10px; color: green;">CITY : {{s.city}}</div>
                <div class="prof" style="margin-top: 50px; color: brown; font-size: 30px;">PINCODE : {{s.pinCode}}</div>
                <div class="divider" style="margin-top: 45px;"></div>
                <!-- <button id="view">View Restaurant</button> -->
                <button class="delete" (click)="onCheckOut()">Place Your Order</button>
            </div>
            <img class="photo" src="../../assets/images/address.jpg">
        </div>
    </div>

    <ng-container *ngIf="items.length===0">
        <div class="container">
            <div class="center" style=" position: absolute;
                                        top:50%;
                                        left:50%;
                                        transform: translate(-50%,-50%);
                                        text-align:center;">
                <img src="https://img.freepik.com/premium-vector/puzzled-confused-woman-character-cartoon-illustration-indifferent-female-isolated-white-background_97231-1082.jpg?w=2000"
                    style="    color:inherit;
                border:none;
                border-radius: 12vh;
                outline: none;
                height: 120px;
                width: 120px;" alt="empty Favourites">
                <h4 style="color:aliceblue">Hmm, its all empty here...</h4>
                <h6 style="color:aliceblue">Add Address</h6>
                <button routerLink="/address" class="btn btn-primary" style="    margin-top: 5px;
                margin-bottom: 5px;">Discover more</button>
            </div>
        </div>

    </ng-container>
</body>